.app__hero {
  margin: 0px auto 0;
  position: relative;

  &-left {
    color: ghostwhite;
    text-align: left;
    padding-left: 5%;

    h1 {
      margin: 0;
      font-family: poppins;
      font-size: 50px;
      line-height: 1.5;
      letter-spacing: 2px;
      text-align: left;
      color: white;
    }
    p {
      font-family: "poppins", sans-serif;
      line-height: 150%;
      font-size: 16px;
      max-width: 500px;
      text-align: left;
      color: white;
    }

    button {
      color: #fff;
      margin-top: 2rem;
      margin-left: 0;
      border: none;
      border-radius: 10px;
      padding: 1rem 2rem;
      font-size: 18px;
      background: linear-gradient(to top, #2db6d4 0%, #b1e8fe 100%);
      transition: all 0.3s ease-in-out;
      cursor: pointer;
    }
  }

  &-right {
    padding-right: 1%;
    width: 600px;
    height: 600px;
    position: relative;
    display: flex;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      position: relative;
      z-index: 2;
      border-radius: 50%;
    }
  }
}

@media screen and (max-width: 900px) {
  .app__hero {
    display: flex;
    flex-direction: column-reverse;
  }

  .app__hero-left {
    width: 100%;
    // margin-bottom: 4rem;
    text-align: left;
  }

  .app__hero-right {
    width: 450px;
    height: 450px;
    // height: 700px;
    margin-bottom: 4rem;
  }
}

@media screen and (max-width: 450px) {
  .app__hero-left {
    text-align: left;
    width: 90%;
    padding-top: 50px;

    h1 {
      font-size: 39px;
      text-align: left;
    }
    p {
      text-align: left;
    }
    button {
      margin-right: 0;
    }
  }

  .app__hero-right {
    width: 300px;
    height: 300px;
    // display: none;
  }
}
