.app__pricing {
  width: 90%;
  margin: 0 auto;
  padding-bottom: 120px;
  h5 {
    font-size: 40px;
    line-height: 47px;
    text-align: center;
    margin: 0 0 3rem;
  }
  .app__pricing-txt {
    font-size: 18px;
    line-height: 150%;
    text-align: center;
    width: 800px;
    margin: 0 auto;
  }
  .pricing__cards__holder {
    margin-top: 4rem;
    padding: 0px;
    gap: 80px;

    .pricing__card {
      width: 340px;
      height: 440px;
      background: rgba(42, 182, 212, 1);
      opacity: 0.7;
      box-shadow: 0px 18px 50px -15px rgba(25, 42, 89, 0.2);
      border-radius: 30px;
      border: 1px #2a407c;
      text-align: center;

      &-txt {
        display: flex;
        flex-direction: column;
        h6 {
          font-size: 30px;
          line-height: 35px;
          text-align: center;
          margin-bottom: 0;
          color: white;
        }
        p {
          font-size: 18px;
          line-height: 150%;
          text-align: center;
          margin: 1rem 0 0;
          color: white;
        }
      }
      .divider {
        width: 220px;
        border-bottom: 1px solid ghostwhite;
        margin: 2rem auto 1rem;
      }

      &-price {
        display: flex;
        flex-direction: column;

        .top {
          font-family: poppins;
          font-style: normal;
          font-weight: 600;
          font-size: 35px;
          line-height: 35px;
          text-align: center;
          color: #fff;
          margin-bottom: 0;
          span {
            font-weight: 400;
            font-size: 18px;
          }
        }
        .bottom {
          margin-top: 1rem;
          font-size: 16px;
          line-height: 140%;
          text-align: center;
          color: ghostwhite;
        }
      }
      .order {
        box-sizing: border-box;
        padding: 10px 80px;
        gap: 10px;
        width: 200px;
        height: 50px;
        border: 1px solid rgba(254, 254, 254, 0.3);
        border-radius: 15px;
        margin: 0 auto;
        color: white;
        font-family: "poppins", sans-serif;

        &:hover {
          background-color: #fff;
          color: rgba(42, 182, 212, 1);
        }
      }
    }

    .pricing__card-standard {
      width: 340px;
      height: 440px;

      background: #ffffff;
      box-shadow: 0px 18px 50px -15px #060f28;
      border-radius: 30px;
      opacity: 1;

      .pricing__card-txt {
        h6 {
          color: #172755;
        }
        p {
          color: #8794ba;
        }
      }
      .divider {
        border-bottom: 1px solid #d3d9e9;
      }

      .pricing__card-price {
        .top {
          color: #172755;
          margin-bottom: 0;
        }
        .bottom {
          color: #060f28;
        }
      }
      .order {
        background: rgba(42, 182, 212, 1);
      }
    }
  }
  @media screen and (max-width: 1200px) {
    .app__pricing-txt {
      width: 100%;
    }
    .pricing__cards__holder {
      flex-direction: column;
      align-items: center;
    }
  }
}
