.app__cust__container {
  .app__cust__txt__container {
    width: 600px;
    h4 {
      font-size: 40px;
      line-height: 47px;
      margin: 0;
    }
    p {
      width: 480px;
      font-size: 18px;
      line-height: 150%;
    }
  }
  @media screen and (max-width: 1280px) {
    .app__cust__txt__container {
      width: 450px;
      p {
        width: 100%;
      }
    }
    .app__cust__img__container {
      width: 450px;
      height: 310px;

      img {
        width: 80%;
        height: 80%;
      }
    }
  }

  @media screen and (max-width: 450px) {
    .app__cust__txt__container {
      width: 100%;
      h4 {
        font-size: 30px;
        line-height: 35px;
      }
      p {
        width: 100%;
        font-weight: 400;
        font-size: 14px;
        line-height: 140%;
      }
    }
    .app__cust__img__container {
      width: 335px;
      height: 228.92px;

      img {
        width: 259.02px;
        height: 173.15px;
        left: 35.73px;
        top: 28.48px;
      }
    }
  }
}

@media screen and (max-width: 900px) {
  .app__cust__container {
    flex-direction: column-reverse;
    gap: 10px;
    .app__cust__txt__container {
      width: 100%;
      p {
        font-size: 14px;
      }
      h4 {
        font-size: 30px;
      }
      p,
      h4 {
        width: 100%;
      }
      br {
        display: none;
      }
    }
    .app__cust__img__container {
      width: 100%;

      img {
        width: 80%;
      }
    }
  }
}
